@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/static/Roboto-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: montser;
    src: url(../fonts/Montserrat/static/Montserrat-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}

/* variables */
:root{
    --robotoFont: roboto;
    --montserFont: montser;
    --textColor: #343434;
    --mainColor: #1C1C1C;
    --secondaryColor: #5B5B5B;
}

/* classes */
